<div class="col-md-6 offset-md-3 mt-5">
    <p>Ping Pong Tournament Players</p>
    <form method="post">
        <label>Name:</label>
        <input class="form-control" id="name" />
        <label>Nickname:</label>
        <input class="form-control" id="nickname" />
        <label>Grip Style:</label>
        <select class="form-control" name="gripStyleDropDown" id="gripStyleDropDown">
            <option value="" selected>Select Style</option>
            @foreach (var t in @ViewBag.ListOfStyles)
            {
            <option value="@t.Id" name="@t.Name">@t.Name</option>
            }
            @*@{Html.RenderPartial("~/Views/App/_GripStyleDDL.cshtml");}*@
        </select>
        <label>Skill Level:</label>
        <select class="form-control" name="skillLevel" id="skillLevel">
            <option value="" selected>Select Skill Level</option>
            @foreach (var t in @ViewBag.ListOfLevels)
            {
            <option value="@t.Id" name="@t.Name">@t.Name</option>
            }
        </select>
        <button class="mt-2" type="button" id="submitBtn">Submit</button>
    </form>
</div>